h1 {
    text-align: center;
    color: cornflowerblue;
  }

#chia-fruit-shake {
    display: inline-block;
    height:50%;
    width: auto;
    border:3px solid blue;
}
#errordog {
  border: 2px solid lightblue;
}
img {
  border: 2px solid lightblue;

}
#place-img {
  border: 1px solid black;

}
nav {
  background-color: cornflowerblue;
  padding: 10px;
  text-align:center;
  font-weight:bold;
}
nav ul {
  list-style-type: none;
  margin: 0;
}
nav li {
  display: inline;
  margin-right: 25px;
}
nav a {
  color: white;
  font-size: 1.5em;
}
nav a:hover {
  color: pink;
  text-decoration: none;
}